blockquote {
	font-weight: $brand--font-semi;
	font-size: 1.4rem;
	padding: $padding--small;
	margin-bottom: 0;
	& cite {
		font-weight: $brand--font-bold;
		font-size: 1.1rem;
		font-style: normal;
		margin-top: $margin--small;
		display: block;
	}
	&.unit-home--blockquote {
		font-weight: $brand--font-semi;
		text-align: center;
		font-size: 1.3rem;
		line-height: 1.5;
		& cite {
			font-size: 1.8rem;
			margin-bottom: $margin--small;
		}
	}
}

