@charset "UTF-8";
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Variables: Font Sizes
- - - - - - - - - - - - - - - - - - */
/* Body font size. By default 16px, based on 16px as 'root em' */
/* Major second scale progression - see https://type-scale.com/ */
/* Line height is set to the "Golden ratio" for optimal legibility */
body {
  font-family: 400;
  line-height: 1.618; }

h1, h2, h4, h4, h5, h6 {
  font-family: 600; }

h1 {
  font-size: 1.6018066406rem; }

h2 {
  font-size: 1.423828125rem; }

h3 {
  font-size: 1.265625rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: calc($brand--font-size / $brand--header-scale); }

/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
  font-size: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  color: #192537;
  font-weight: 400;
  font-size: 1em;
  /* currently ems because Chrome bug misinterpreting rems on body element */ }

/* Initial sizing - set in 'helpers' - '_variables.scss' */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than small tablet */
/* Larger than tablet */
/* Larger than desktop */
a {
  transition: 0.3s;
  color: #192537;
  font-weight: 600; }
  a:hover {
    background-color: #e0ebfa;
    color: #192537; }

.unit-hr {
  margin: 4rem 0; }

h1, h2, h3 {
  font-weight: 600; }

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

h5 {
  font-size: 0.9rem; }

p.emph {
  font-weight: 600; }
  p.emph i {
    margin-right: 7px; }

p.last-updated {
  font-size: 0.9rem;
  font-weight: 600; }

.ut--uc {
  font-size: 110%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600; }

.org--page-simple h2 {
  margin-top: 2rem; }

.org--page-simple h3 {
  margin-top: 1.5rem; }

ul.bullet--tutor li {
  margin-bottom: 1rem; }

.type--bg-darkblue {
  background-color: #192537;
  color: #fff; }
  .type--bg-darkblue .button {
    background-color: #f6c3ca;
    color: #192537; }
    .type--bg-darkblue .button:hover {
      background-color: #ef97a3; }

.type--bg-lightblue {
  background-color: #e0ebfa;
  color: #192537; }
  .type--bg-lightblue .button {
    background-color: #192537;
    color: #fff; }
    .type--bg-lightblue .button:hover {
      background-color: #090d14; }

.type--bg-pink {
  background-color: #f6c3ca;
  color: #192537; }
  .type--bg-pink .button {
    background-color: #192537;
    color: #fff; }
    .type--bg-pink .button:hover {
      background-color: #090d14; }

.type--bg-white {
  background-color: #fff;
  color: #192537; }
  .type--bg-white .button {
    background-color: #e0ebfa;
    color: #192537; }
    .type--bg-white .button:hover {
      background-color: #b4cff3; }

blockquote {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem;
  margin-bottom: 0; }
  blockquote cite {
    font-weight: 600;
    font-size: 1.1rem;
    font-style: normal;
    margin-top: 1rem;
    display: block; }
  blockquote.unit-home--blockquote {
    font-weight: 500;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5; }
    blockquote.unit-home--blockquote cite {
      font-size: 1.8rem;
      margin-bottom: 1rem; }

button[type=submit] {
  padding: unset;
  border: none; }

button.button, a.button {
  transition: 0.3s;
  padding: 0.625rem 1.2rem;
  border-radius: 10px;
  text-decoration: unset;
  font-size: 1rem;
  font-weight: 600; }
  button.button i, a.button i {
    margin-right: 0.5rem; }
  button.button:hover, a.button:hover {
    cursor: pointer; }

a[class*="atm--button-"] {
  text-decoration: none; }
  a[class*="atm--button-"] i {
    transition: 0.4s; }
  a[class*="atm--button-"]:hover {
    cursor: pointer; }

.atm--button-main {
  padding: 12px 28px;
  padding-right: 40px;
  background-color: #23334c; }
  .atm--button-main span {
    letter-spacing: 0.02em;
    color: white; }
  .atm--button-main i {
    color: #f6c3ca;
    margin-left: 12px; }
  .atm--button-main:hover {
    background-color: #192537; }
    .atm--button-main:hover i {
      transform: translate(12px, 0); }

.atm--button-square-i {
  height: 50px;
  width: 50px;
  background-color: #23334c; }
  .atm--button-square-i i {
    color: #f6c3ca; }
  .atm--button-square-i:hover {
    background-color: #192537; }
    .atm--button-square-i:hover i {
      transform: translate(6px, 0); }

figure {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem; }
  figure figcaption {
    margin: 2px 0;
    font-weight: 600;
    font-size: 0.8rem; }

@media (min-width: 576px) {
  margin: 0; }

figure.file--logo {
  margin-bottom: 1rem; }

figure.figure--headshot {
  margin: 2rem; }
  figure.figure--headshot img {
    border: 7px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%; }

figure.unit-home--headshot {
  text-align: center; }
  figure.unit-home--headshot img {
    width: 50%;
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%; }

figure.figure--team img {
  border: 7px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

@media (min-width: 768px) {
  figure {
    margin-bottom: 0; } }

.mol--form-capsule .form-row {
  margin-bottom: 1rem; }
  .mol--form-capsule .form-row:last-child {
    margin-bottom: 0; }

.mol--form-capsule section {
  margin-bottom: 2rem; }
  .mol--form-capsule section:last-child {
    margin-bottom: 0; }

.mol--form-capsule h3 {
  margin-bottom: 10px; }
  .mol--form-capsule h3 i {
    margin-right: 10px; }

.mol--form-capsule label {
  font-weight: 600;
  margin-bottom: 5px; }

.mol--form-capsule input {
  margin-bottom: 10px; }

header {
  background-color: #192537; }

nav a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #fff;
  background-color: unset; }
  nav a:link {
    color: #fff; }
  nav a:visited {
    color: #fff; }
  nav a:hover {
    color: #f6c3ca;
    background-color: unset; }
  nav a:active {
    color: #fff; }
  nav a:disabled {
    color: rgba(255, 255, 255, 0.3); }

nav {
  padding: 1rem 0; }
  nav h1, nav h1 a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-weight: 400;
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 0; }
  nav h1 a.navbar-brand:hover {
    color: #f6c3ca; }
  nav a, nav .nav-link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 0.8rem;
    color: #fff; }
    nav a:link, nav .nav-link:link {
      color: #fff; }
    nav a:visited, nav .nav-link:visited {
      color: #fff; }
    nav a:hover, nav .nav-link:hover {
      color: #f6c3ca; }
    nav a:active, nav .nav-link:active {
      color: #fff; }
    nav a:disabled, nav .nav-link:disabled {
      color: rgba(255, 255, 255, 0.3); }

.navbar button.atmButtonNav {
  background-color: rgba(255, 255, 255, 0.06);
  border: 2px solid rgba(255, 255, 255, 0.12); }
  .navbar button.atmButtonNav i {
    color: #fff; }
  .navbar button.atmButtonNav:hover {
    color: red; }

@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    backdrop-filter: blur(7px);
    background-color: rgba(25, 37, 55, 0.8);
    color: #fff;
    border-left: 5px solid #192537; }
    .offcanvas.offcanvas-end h2 {
      color: white; }
    .offcanvas.offcanvas-end .offcanvas-header {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px; }
    .offcanvas.offcanvas-end .offcanvas-body {
      padding: 0; }
    .offcanvas.offcanvas-end li.menu-item {
      padding: 10px 0;
      padding-left: 30px;
      border-left: 7px solid rgba(246, 195, 202, 0);
      background-color: rgba(0, 0, 0, 0.2); }
      .offcanvas.offcanvas-end li.menu-item:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-left: 7px solid #f6c3ca; }
    .offcanvas.offcanvas-end li.current-menu-item, .offcanvas.offcanvas-end li.current-menu-item:hover {
      background-color: #192537;
      border-left: 7px solid #f6c3ca; }
      .offcanvas.offcanvas-end li.current-menu-item:hover, .offcanvas.offcanvas-end li.current-menu-item:hover:hover {
        color: #f6c3ca; }
    .offcanvas.offcanvas-end .offcanvas-header button.btn-close {
      background: unset;
      opacity: unset;
      background-color: rgba(255, 255, 255, 0.06);
      border: 2px solid rgba(255, 255, 255, 0.12); }
      .offcanvas.offcanvas-end .offcanvas-header button.btn-close i {
        color: #fff; }
        .offcanvas.offcanvas-end .offcanvas-header button.btn-close i:hover {
          color: #f6c3ca; } }

@media (min-width: 768px) {
  .offcanvas.offcanvas-end {
    backdrop-filter: unset;
    background-color: unset; }
    .offcanvas.offcanvas-end li.current-menu-item a, .offcanvas.offcanvas-end li.current-menu-item:hover a {
      color: #f6c3ca; } }

.org--page-introduction {
  background-color: #f6c3ca;
  padding: 3rem 0; }
  .org--page-introduction h1 {
    margin-top: 0; }
  .org--page-introduction p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0; }

.org--page-default {
  padding: 1rem 0; }

@media (min-width: 576px) {
  .org--page-default {
    padding: 2rem 0; } }

@media (min-width: 768px) {
  .org--page-default {
    padding: 4rem 0; } }

.org--page-simple {
  padding: 2rem 0; }

.block--content {
  padding: 4rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.block--content-video {
  padding: 6rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.block--content-inspiration {
  text-align: center;
  padding: 4rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .block--content-inspiration p {
    font-size: 1.3rem;
    line-height: 1.6; }

.block--content-thin {
  padding: 5px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.block--content-faq {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 5px solid #e0ebfa; }
  .block--content-faq:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0; }

.unit--content {
  padding: 4rem 0; }

.unit--content-event {
  margin-bottom: 2rem; }
  .unit--content-event:last-child {
    margin-bottom: 0; }
  .unit--content-event h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .unit--content-event h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .unit--content-event p {
    margin-bottom: 2rem; }

.unit--content-offer {
  padding: 8rem 0;
  text-align: center; }
  .unit--content-offer h2 {
    font-size: 6rem;
    font-weight: 600;
    margin-top: 1rem; }
  .unit--content-offer h3 {
    font-weight: 500;
    margin-bottom: 2rem; }
  .unit--content-offer p.disclaimer {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin: 0.5rem 0; }

.unit--content-tutor h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.unit--content-tutor h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem; }

.unit--content-tutor p {
  margin-bottom: 2rem; }

.unit--content-video p {
  font-weight: 500;
  font-size: 1.2rem;
  argin-bottom: 2rem; }

.unit--content-faq {
  margin-bottom: 2rem; }
  .unit--content-faq h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem; }
  .unit--content-faq h4 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem; }
  .unit--content-faq i {
    margin-right: 0.5rem; }

@media (min-width: 768px) {
  .unit--content-video {
    margin-right: 2rem; } }

.unit--content-testimonial {
  text-align: center; }

.block--content-values {
  padding: 4rem 0; }

.unit-content-value {
  padding: 30px 20px;
  padding-top: 35px;
  background-color: #e0ebfa;
  color: #192537;
  border-radius: 20px;
  margin-bottom: 20px; }
  .unit-content-value h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px; }
  .unit-content-value p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0; }

.unit-encouragement {
  padding: 20px 0; }

.unit-content-encouragement {
  padding: 30px 20px;
  padding-top: 35px;
  background-color: rgba(246, 195, 202, 0.7);
  color: #192537;
  border-radius: 20px;
  margin-bottom: 20px; }
  .unit-content-encouragement h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px; }
  .unit-content-encouragement p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0; }

@media (min-width: 992px) {
  .unit-content-value {
    height: 100%;
    margin-bottom: unset; } }

.unit--content-story {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .unit--content-story h4.ut--uc {
    font-size: 0.9rem; }

.design--left .unit--content-story {
  padding-right: 2rem; }

.design--left figure {
  margin-top: 4rem; }

.design--right .unit--content-story {
  padding-left: 2rem; }

.design--right figure {
  margin-top: 4rem; }

@media (min-width: 768px) {
  .unit--content-story {
    margin-top: 6rem; }
  .design--left .unit--content-story {
    padding-right: 4rem; }
  .design--left figure {
    margin: 6rem 0; }
  .design--right .unit--content-story {
    padding-left: 4rem; }
  .design--right figure {
    margin: 6rem 0; } }

.type--bg-pink .unit--content-wysiwyg a {
  color: red; }

.type--bg-lightblue .unit--content-wysiwyg {
  color: #192537; }
  .type--bg-lightblue .unit--content-wysiwyg a {
    font-weight: 600;
    color: #192537; }

.unit--content-team {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .unit--content-team h4.ut--uc {
    font-size: 0.9rem; }

.team--left .unit--content-team {
  padding-right: 2rem; }

.team--left figure {
  margin-top: 4rem; }

.team--right .unit--content-team {
  padding-left: 2rem; }

.team--right figure {
  margin-top: 4rem; }

@media (min-width: 768px) {
  .unit--content-team {
    margin-top: 6rem; }
  .team--left .unit--content-team {
    padding-right: 4rem; }
  .team--left figure {
    margin: 6rem 0; }
  .team--right .unit--content-team {
    padding-left: 4rem; }
  .team--right figure {
    margin: 6rem 0; } }

footer {
  background-color: #192537;
  padding: 3rem 0; }
  footer i {
    color: #fff;
    margin-right: 0.5rem; }
    footer i:last-child {
      margin-right: 0; }
  footer i.inactive {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.3); }
  footer .highlight {
    color: #f6c3ca; }
  footer a {
    font-weight: 400;
    color: #fff;
    background-color: unset;
    margin-right: 0.5rem; }
    footer a:hover {
      background-color: unset;
      color: #f6c3ca; }
    footer a i {
      transition: 0.3s; }
      footer a i:hover {
        color: #f6c3ca; }
    footer a:last-child {
      margin-right: 0; }

.mol__unit-whoweare p {
  font-size: 1.3rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding-right: 4rem;
  margin-bottom: 2rem; }

.file--logo img {
  display: block;
  height: 72px;
  margin-bottom: 2rem; }

@media (min-width: 768px) {
  footer {
    padding: 4rem 0; } }

@media (min-width: 992px) {
  .mol__unit-whoweare p {
    padding-right: 6rem; }
  footer {
    padding: 6rem 0; } }

p.atm__copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0; }

.mol__unit-contact {
  border-top: solid 2px #f6c3ca;
  padding-top: 1rem;
  margin-bottom: 3rem;
  color: white; }
  .mol__unit-contact:last-child {
    margin-bottom: 1rem; }
  .mol__unit-contact h4 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: #f6c3ca;
    font-size: 0.8rem;
    margin-bottom: 8px; }
  .mol__unit-contact span {
    font-size: 1.1rem;
    letter-spacing: 0.05em; }
